
* {
	box-sizing:border-box;
}
body {
	background-color: #298eea;
	margin: 0;
	padding: 30px;
  font-family: "Roboto", sans-serif;
	font-weight: 300;
  font-size: 18px;
}
header {
	margin-right: 0;
}
.image{
    display: block;
    height: 35px;
		width: auto;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 20px;
}
main {
	text-align: center;
}
form {
	background-color: white;
	width: 400px;
	padding: 40px;
	border: none;
	margin-right: auto;
	margin-left: auto;
}
fieldset {
	margin:0;
	padding:0;
	border:0;
	text-align: left;
}

legend {
	text-align: center;
	font-size: 35px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 45px;
}

input, button {
	display: block;
	width: 320px;
	height: 55px;
	font-size: 18px;
	border: 2px solid #e7e7e7
}
input {
	margin-top:  15px;
	margin-bottom: 15px;
	padding: 20px;
}

button {
	background-color: #15CD72;
	color:white;
	font-size: 22px;
	font-weight: bold;
	padding: 15px;
	border: 0;
	margin: 20px auto 5px;
}
button:hover {
	background-color: #0CB863;
}

.forgot {
	color:#999;
	font-size: 14px;
	font-weight: 400;
	margin-right: auto;
	margin-left: auto;
	margin-bottom:20px;
}
.have-account{
	color: white;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	margin-top: 9px;
}
.login {
	color: white;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	margin-top: 15px;
}
