
* {
	box-sizing:border-box;
}
body {
	background-color: #298eea;
	margin: 0;
	padding: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}
header {
	margin-right: 0;
}
.image{
    display: block;
    height: 35px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}
main {
	text-align: center;
}
form {
	display: inline-block;
	background-color: white;
	height: 380px;
	padding-left: 40px;
	padding-right: 40px;
	border: none;
	margin-right: auto;
	margin-left: auto;
}
fieldset {
	margin-right: auto;
	margin-left: auto;
	border:0;
	text-align: left;
}

/*Fix!*/
h1 {
	text-align: center;
}

input, button {
	width: 320px;
	height: 55px;
}

input {
	display: block;
	text-align: left;
	font-size: 14px;
	text-align: left;
}
button {
	 background-color: #15CD72;
	 margin: 20px auto;
	 display: block;
	 color:white;
	 font-weight: bold;
	 font-size: 18px;
	 margin-top: 12px;
	 padding: 15px;
	 border: 2px solid white;
}
button:hover {
	background-color: #0CB863;
}

.forgot {
	text-decoration: none;
	color: black;
	font-size: 14px;
	margin-right: auto;
	margin-left: auto;
}
.have-account{
	color: white;
	text-align: center;
}
.login {
	text-decoration: none;
	color: white;
	display: inline-block;
