
* {
	box-sizing:border-box;
}
body {
	background-color: #298eea;
	margin: 0;
	padding: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}
header {
	margin-right: 0;
}
.image{
    display: block;
    height: 35px;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}
main {
	text-align: center;
}
form {
	display: inline-block;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	padding: 40px;
}
fieldset {
	border:0;
	text-align: left;
}
/*Fix!*/
legend {
	text-align: center;
   	font-size: 35px;
   	margin: 35px;
}
input, button {
	width: 320px;
	height: 55px;
	display: block;
	margin-top: 20px;
	padding: 15px;
	border-radius: 5%;
}
input {

	text-align: left;
	font-size: 14px;
	margin-bottom: 20px;
	border: 2px solid darkgray;
	border-radius: 5%;
}
button {
	 background-color: #15CD72;
	 color:white;
	 font-weight: bold;
	 font-size: 18px;
	 border: 2px solid white;
}
button:hover {
	background-color: #0CB863;
}
.forgot {
	color: darkgray;
	font-size: 14px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 12px;
	text-align: center;
	display: block;
}
.have-account,.login {
	color: white;
	font-size: 14px;
	margin-top: 10px;	
}
.have-account{
	text-align: center;
}
.login {
	display: inline-block;


